<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Training Recording</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Training Recording </h1>
    <hr>
    <h2>Save Training</h2>
    <form action="#" th:action="@{/save}" th:object="${training}"
          method="POST">
        <input type="text" th:field="*{kilometres}"
               placeholder="Kilometres" class="form-control mb-4 col-4">
        <input type="date" th:field="*{trainingDate}"
               placeholder="Training Date" class="form-control mb-4 col-4">
        <input type="text" th:field="*{kCal}"
               placeholder="kCal" class="form-control mb-4 col-4">
        <input type="text" th:field="*{time}"
               placeholder="Training Time" class="form-control mb-4 col-4">
        <input type="text" th:field="*{noteText}"
               placeholder="annotation" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2"> Save Training</button>
    </form>
    <hr>
    <a th:href = "@{/training}"> Back to Training List</a>
</div>
</body>
</html>