<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Training Recording</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <h1>Training List</h1>
        <a th:href="@{/new}" class="btn btn-primary btn-sm mb-3">Add</a>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Kilometers</th>
                    <th>Training Date</th>
                    <th>kCal</th>
                    <th>Training Time</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="training:${listTraining}">
                <td th:text="${training.kilometres}"></td>
                <td th:text="${training.trainingDate}"></td>
                <td th:text="${training.kCal}"></td>
                <td th:text="${training.time}"></td>
                <td><input type="text"></td>
                <td><a th:href="@{/update/{id}(id=${training.id})}"
                       class="btn btn-primary">Update</a>
                    <a th:href="@{/delete/{id}(id=${training.id})}"
                       class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>